{
  "env": {
    "browser": true,
    "es2021": true
  },
  "globals": {
    "process": true
  },
  "extends": ["kaho/vue"],
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "rules": {
    "no-console": ["error", { "allow": ["warn", "error", "info"] }]
  }
}
